.container, .container-inputs, .container-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container-inputs > * {
    padding: 10px;
}
